@import "../../responsive.scss";

.layout {
  display: flex;
  flex-direction: column;
  .content {
    height: calc(100vh - 100px);
  }
}

.layouttwo {
  display: grid;
  grid-template-columns: min-content 1fr;
}
