@import "../../../responsive.scss";

.deleteContainer{
  display: flex;
  flex-direction: column;
  gap:2rem;

  .deleteContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }
  .deleteit,.deleteno{
    width: 20rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color:rgb(238, 5, 5);
    font-size: 1rem;
  }
  .deleteno{
    background-color:rgb(5, 238, 17);
  }
}
.newPostPage {
  height: 100%;
  display: flex;
  padding:1rem 4rem 0;

  @include sm {
    height: 230%;
    width: 230%;
   }

  .formContainer {
    flex: 3;
    overflow: scroll;

    .wrapper {
      margin: 30px 50px 100px 0px;

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .item {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          input {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
          }

          select {
            padding: 19px;
          }

          &.description {
            width: 100%;
            height: 320px;

            .quill > .ql-container > .ql-editor{
              height: 200px;
              font-size: 16px;
            }
          }
        }
        .sendButton {
          padding:1.5rem;
          width: 30%;
          border-radius: 5px;
          border: none;
          background-color: rgb(0, 1, 1);
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: rgba(246, 255, 0, 0.707);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
