.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .createProperty{
    width: 100%;
    padding:1.5rem;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size:1.2rem;
  }

  h1 {
    font-weight: 300;
    font-size: 24px;
    border: 1px solid black;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .top {
    input {
      width: 100%;
      border:3px solid black;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    button {
      width: 12rem;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color:black;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
