@import "../../responsive.scss";

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .createProperty {
    width: 100%;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 1.2rem;
  }

  h1 {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    background-color: black;
    color: rgb(244, 215, 163);
    padding: 3px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 1rem;
    }

    input,
    select {
      width: 15rem;
      padding: 5px;
      border: 1px solid #000000;
      font-size: 14px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    @include sm {
      justify-content: center;
    }

    button {
      width: 15rem;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: black;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
